best_validation filter=lfs diff=lfs merge=lfs -text
best_validation.meta filter=lfs diff=lfs merge=lfs -text
CCMDCCMD-10000 filter=lfs diff=lfs merge=lfs -text
CCMDCCMD-10000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCCMD_test_89-50000 filter=lfs diff=lfs merge=lfs -text
CCMDCCMD_test_89-50000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCCM_test_89-100000 filter=lfs diff=lfs merge=lfs -text
CCMDCCM_test_89-100000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD-10000 filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD-10000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_96.62-50000 filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_96.62-50000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_test_95-50000 filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_test_95-50000.meta filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_test_96-50000 filter=lfs diff=lfs merge=lfs -text
CCMDCMCMD_test_96-50000.meta filter=lfs diff=lfs merge=lfs -text
checkpoint filter=lfs diff=lfs merge=lfs -text
checkpoint-10000 filter=lfs diff=lfs merge=lfs -text
checkpoint-10000.meta filter=lfs diff=lfs merge=lfs -text
cnn-0.005-model-93test-10000 filter=lfs diff=lfs merge=lfs -text
cnn-0.005-model-93test-10000.meta filter=lfs diff=lfs merge=lfs -text
cnn_97.77_testacc-100000 filter=lfs diff=lfs merge=lfs -text
cnn_97.77_testacc-100000.meta filter=lfs diff=lfs merge=lfs -text
cnn_test_96-50000 filter=lfs diff=lfs merge=lfs -text
cnn_test_96-50000.meta filter=lfs diff=lfs merge=lfs -text
cnn_test_97-100000 filter=lfs diff=lfs merge=lfs -text
cnn_test_97-100000.meta filter=lfs diff=lfs merge=lfs -text
mdl3-96.79-42000 filter=lfs diff=lfs merge=lfs -text
mdl3-96.79-42000.meta filter=lfs diff=lfs merge=lfs -text
mdl3-96.91-90000 filter=lfs diff=lfs merge=lfs -text
mdl3-96.91-90000.meta filter=lfs diff=lfs merge=lfs -text
mdl397-100000 filter=lfs diff=lfs merge=lfs -text
mdl397-100000.meta filter=lfs diff=lfs merge=lfs -text
mdl3-97.70-100000 filter=lfs diff=lfs merge=lfs -text
mdl3-97.70-100000.meta filter=lfs diff=lfs merge=lfs -text
model_test_93-10000 filter=lfs diff=lfs merge=lfs -text
model_test_93-10000.meta filter=lfs diff=lfs merge=lfs -text
