[submodule "P01-Lane-Lines"]
	path = P01-Lane-Lines
	url = https://github.com/thomasantony/CarND-P01-Lane-Lines.git
[submodule "P02-Traffic-Signs"]
	path = P02-Traffic-Signs
	url = https://github.com/thomasantony/CarND-P02-Traffic-Signs
[submodule "P03-Behavioral-Cloning"]
	path = P03-Behavioral-Cloning
	url = https://github.com/thomasantony/CarND-P03-Behavioral-Cloning.git
[submodule "P04-Advanced-Lane-Lines"]
	path = P04-Advanced-Lane-Lines
	url = https://github.com/thomasantony/CarND-P04-Advanced-Lane-Lines.git
[submodule "P05-Vehicle-Detection"]
	path = P05-Vehicle-Detection
	url = https://github.com/thomasantony/CarND-P05-Vehicle-Detection
[submodule "P06-Extended-Kalman-Filter"]
	path = P06-Extended-Kalman-Filter
	url = https://github.com/thomasantony/CarND-P06-EKF
